.git
.vs
.idea
**/.DS_Store
**/Thumbs.db
**/*.md
.env
.env.*
!.env.example

**/bin/
**/obj/
**/node_modules/
**/dist/
**/uploads/
!**/.gitkeep

frontend/Dockerfile
frontend/nginx.conf
backend/Home.Api/Dockerfile
backend/Home.Api/.dockerignore
frontend/.dockerignore
